body{
  background-color: #282c34;
  color: white;
}

.App {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
.App > * {
  width: 100%;
}
.App-header{
  margin: 1.5rem 0;
}
.App input{
  padding: 12px;
  border: 1px solid  #ccc;
}

.App .progress-container{
  height: 8px;
  margin: 1.2rem 0 1rem .6rem;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #ede5e5
}
.App .progress-bar{
  height: 100%;
  max-width: 100%;
  border-radius: 5px;
}
